{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<html>
	<head>
		<title>{% block title %}Tr&auml;ffpunk Aalto{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% render_block "css" %}
		{% addtoblock "css" %}
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
		<link rel="stylesheet/less" type="text/css" href="/static/css/main.less">
		<script src="/static/js/less.js" type="text/javascript"></script>
		{% endaddtoblock %}
		</head>
	<body>
	{% cms_toolbar %}
		<div class="navi"> 
			<div class="container">
				<div class="">
					<ul class="nav navbar-nav">
						{% show_menu 0 100 0 1 %}
					</ul>
				</div>
			</div>
		</div>

		{% block base_content %}
		{% endblock %}

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<address>
							<strong>Teknologf&ouml;reningen</strong><br>
							Otsvängen 22<br>
							02150 Esbo<br>
							Finland<br>
						</address>
					</div>
					<div class="col-lg-6">
						<address>
							<strong></strong>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
				    	<p>© Teknologf&ouml;reningen 2013</p>
					</div>
				</div>
		    </div>
		</footer>

		{% render_block "js" %}
		{% addtoblock "js" %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
		{% endaddtoblock %}
  </body>
</html>